@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: outfit;
    background-color: var(--bg-main-color);
    color: #fff;
}

.card{
    width: 230px;
    background-color: var(--bg-card-color);
    padding: 20px;
    border-radius: 10px;
}
.card .imagem-descricao img{
    width: 100%;
    border-radius: 5px;
}



.card .titulo{
    font-size: 18px;
    margin: 20px 0;
    transition: 0.3s ease-in-out;
}

.card .titulo:hover,
.card .perfil .nome span:hover{
    color: var(--azul-cyan);
    cursor: pointer;
}

.card .descricao{
    font-size: 13px;
    color: var(--azul-claro);
}

.card .informacoes{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 13px;
}

.card .informacoes .valor{
    color: var(--azul-cyan);
    font-weight: 600;
}

.card .informacoes .valor::before{
    content: url(../images/icon-ethereum.svg);
}

.card .informacoes .tempo{
    color: var(--azul-claro);
}

.card .informacoes .tempo::before{
    content: url(../images/icon-clock.svg);
}

.card .perfil{
    display: flex;
    align-items: center;
    border-top: 1px solid var(--line-color);
    padding-top: 15px;
}

.card .perfil img{
    width: 25px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
}

.card .perfil .nome{
    font-size: 12px;
    color: var(--azul-claro);
}

.card .perfil .nome span{
    color: #fff;
    transition: 0.3s ease-in-out;
}